# Backend
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Environment
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Logs
*.log
npm-debug.log*
